.blurJ {
    color: rgb(56, 181, 254);
    text-shadow: 2px 2px 2px rgb(255, 231, 94);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;

    h1 {
        font-size: 90px;
    }
}

.blurJ.loaded {
    opacity: 1;
    text-align: center;
}

.fade {
    position: relative;
    bottom: 30px;
    width: fit-content;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;

    h2 {
        text-shadow: 5px 1px 1px rgb(53, 53, 53);
        font-size: 60px;
    }
}

.fade.loaded {
    opacity: 1;
    text-align: center;
}


main {
    text-align: center;
}

.list {
    list-style-type: none;
}

.jabz-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.heartbeat {
    animation: heartbeat 1s infinite;
}